<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="search" method="GET">
                검색어<input type="text" name="keyWord" id="keyWord">
                <br>표시페이지<input type="text" name="page" id="page">
                <br>
                <button type="submit" id="button">확인</button>
        </form>

</body>
</html>